<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <%= if opts[:registration] do %>
      Welcome to Librecov
    <% else %>
      Please confirm your email
    <% end %>
  </title>
  <style>
    body {
      line-height: 30px;
    }
  </style>
</head>
<body>
  <p>
    Hi <%= user.name %>,
  </p>
  <%= if opts[:registration] do %>
    <p>
      <%= if opts[:invited?] do %>
        You have been invited to join
      <% else %>
        Thank you for registering to
      <% end %>
       Librecov@<a href="<%= base_url %>"><%= base_url %></a>.
    </p>
    <p>
      Your login address is:
      <%= user.unconfirmed_email %>
    </p>
  <% end %>
  <p>
    <a href="<%= confirmation_url %>">
      <%= if opts[:invited?] do %>
        Please click here to set your password.
      <% else %>
        Please click here to confirm your email.
      <% end %>
    </a>
  </p>
</body>
</html>
