<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LibreCov" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/vendor.css") %>" />
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/theme.css") %>" />
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/app.css") %>" />
    <link phx-track-static rel="stylesheet" id="css-main" href="<%= Routes.static_path(@conn, "/css/oneui.min.css") %>" />
    <link phx-track-static rel="stylesheet" id="css-theme" href="<%= Routes.static_path(@conn, "/css/themes/flat.min.css") %>" />
    <script phx-track-static defer type="text/javascript" src="<%=Routes.static_path(@conn, "/vendor.js") %>"></script>
  </head>
  <body>
    <div id="page-container" class="side-scroll page-header-dark main-content-narrow">
      <%= render "header.html", conn: @conn %>
      <main id="main-container">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
        <%= @inner_content %>
      </main>
    </div>
  <script phx-track-static defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/oneui.app.min.js")%>"></script>
  </body>
</html>
