<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LibreCov" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/js/vendor.css") %>" />
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/js/theme.css") %>" />
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/js/app.css") %>" />
    <script phx-track-static defer type="text/javascript" src="<%=Routes.static_path(@conn, "/js/vendor.js") %>"></script>
    <script phx-track-static defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js")%>"></script>
  </head>
  <body class="librecov">
    <%= @inner_content %>
  </body>
</html>
