<div class="actions container">
  <div class="row">
    <div class="col-xs-2 col-sm-1 col-xs-offset-2">
      <%= link "Edit", to: @path_fn.(@conn, :edit, @resource), class: "btn btn-primary btn-xl" %>
    </div>
    <div class="col-xs-2">
      <%= link "Delete", to: @path_fn.(@conn, :delete, @resource), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xl" %>
    </div>
  </div>
</div>
