# Created by https://www.gitignore.io/api/phoenix

### phoenix ###
# Phoenix: a web framework for Elixir
_build/
deps/
node_modules/
priv/static/js
config/prod.secret.exs
config/local.exs
*.coverdata

*.dump

*.swp
