erlang_version=24.0
elixir_version=1.12.2
node_version=14.17.5
always_rebuild=false
config_vars_to_export=(DATABASE_URL LIBRECOV_AUTH LIBRECOV_USER LIBRECOV_PASSWORD SECRET_KEY_BASE LIBRECOV_SCHEME LIBRECOV_HOST LIBRECOV_PORT POSTGRES_POOL_SIZE LIBRECOV_DEMO LIBRECOV_GITHUB_CLIENT_ID LIBRECOV_GITHUB_SECRET_KEY)
