.admin
  .panel
    padding 0
    .panel-title
      line-height 2em
      & > a.btn
        color #fff

    .view-all
      display block
      margin 5px 0 10px 10px

  dl
    dt, dd
      line-height 3em
