.admin
  .panel
    padding 0
    .panel-title
      line-height 2em
      & > a.btn
        color #fff

    .view-all
      display block
      margin 5px 0 10px 10px

  dl
    dt, dd
      line-height 3em
    &.settings
      dt
        width 200px
      dd
        margin-left 220px

      dt.restricted_signup_domains + dd
        padding-top 0.7em
        line-height 1.5em

  &.edit-settings
    textarea
      resize vertical
      min-height 8em
