.projects-list
  h2
    .title
      float left
    .add-project
      float right

  .projects
    margin-top 2em

    .project
      display block
      list-style-type none
      background-color rgba(95, 151, 68, 0.2)
      border-radius 10px
      margin-bottom 2em

      display block
      width 100%
      height 100%
      padding 1em

      a
        color #204E1D

      .content
        float left
        h3
          margin 0.5em 0 1em 0

      .coverage
        float right
        margin-right 1em
        font-size 1.6em
        line-height 2em
