<div class="edit-user">
  <h2 class="breadcrumb row">
    <span class="media-body">
      Profile
    </span>
  </h2>

  <%= render "form.html", changeset: @changeset,
                          action: user_path(@conn, :update, @user, is_profile: @is_profile),
                          show_password: !@is_profile,
                          is_admin: false %>

</div>
