<h2>Signup</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create),
                        only_profile: false,
                        is_admin: false %>
