<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Opencov</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/app.css") %>">
  </head>

  <body>

  <div class="container-fluid">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Opencov</a>
        </div>
      </div>
    </nav>

      <% if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <% if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <div class="container">
       <%= @inner %>
      </div>
    </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/vendor.bundle.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bundle.js") %>"></script>
  </body>
</html>
