<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenCov</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/theme.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/app.css") %>">
  </head>

  <body class="opencov">

  <div class="container-fluid body-wrapper">
    <%= render "header.html", conn: @conn %>

    <% if get_flash(@conn, :info) do %>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <% if get_flash(@conn, :error) do %>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <% end %>

    <main class="container">
      <%= @inner %>
    </main>
  </div>

  <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
