<div class="edit-user">
  <h2 class="breadcrumb row">
    <span class="media-body">
      Reset password
    </span>
  </h2>

  <%= render "password_form.html", changeset: @changeset,
                                   hide_current_password: true,
                                   token: @token,
                                   action: Routes.profile_path(@conn, :finalize_reset_password),
                                   user: @user %>
</div>
