.body-wrapper
  padding 0
  .navbar-inverse
    margin-bottom 0
  .navbar-brand
    font-size 1.6em

  main.container
    padding 1em
    background #fff
    min-height calc(100vh - 52px)

h2
  padding 0 1em

.left
  float left

.right
  float right

.clearfix
  &::after
    clear both
    display block
    content " "

.coverage
  &.na
    color #9f9f9f
  &.none
    color #e05d44
  &.low
    color #dfb317
  &.normal
    color #a4a61d
  &.good
    color #97CA00
  &.great
    color #4c1

@import "./pages/*"
