.body-wrapper
  padding 0
  .navbar-inverse
    margin-bottom 0
  .navbar-brand
    font-size 1.6em

  main.container
    padding 1em
    background #fff
    min-height calc(100vh - 52px)

    .breadcrumb
      background-color inherit

a
  &:active, &:hover
    text-decoration none

h2
  padding 0 1em

@import "./util"
@import "./pages/*"
