@import "~bootstrap/less/bootstrap";


@body-bg:               #fafafa;

@brand-primary:          #14245F;


@navbar-inverse-link-color:                 #fff;
@navbar-inverse-link-hover-color:           #eee;
@navbar-inverse-brand-hover-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-bg:                         #14245F;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);
