.left
  float left

.right
  float right

.clearfix
  &::after
    clear both
    display block
    content " "

.coverage
  &.na
    color #9f9f9f
  &.none
    color #e05d44
  &.low
    color #dfb317
  &.normal
    color #a4a61d
  &.good
    color #97CA00
  &.great
    color #4c1

.text-centered
  text-align center
