<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reset your password</title>
  <style>
    body {
      line-height: 30px;
    }
  </style>
</head>
<body>
  <p>
    Hi <%= user.name %>,
  </p>
  <p>Thank you for using Librecov.</p>
  <p>
    <a href="<%= reset_password_url %>">
      Please click here to reset your password.
    </a>
  </p>
</body>
</html>
