# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule GitHubV3RESTAPI.Api.Gitignore do
  @moduledoc """
  API calls for all endpoints tagged `Gitignore`.
  """

  alias GitHubV3RESTAPI.Connection
  import GitHubV3RESTAPI.RequestBuilder

  @doc """
  Get all gitignore templates
  List all templates available to pass as an option when [creating a repository](https://docs.github.com/rest/reference/repos#create-a-repository-for-the-authenticated-user).

  ## Parameters

  - connection (GitHubV3RESTAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, [%String{}, ...]} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec gitignore_get_all_templates(Tesla.Env.client(), keyword()) ::
          {:ok, nil} | {:ok, list(String.t())} | {:error, Tesla.Env.t()}
  def gitignore_get_all_templates(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/gitignore/templates")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      {200, []},
      {304, false}
    ])
  end

  @doc """
  Get a gitignore template
  The API also allows fetching the source of a single template. Use the raw [media type](https://docs.github.com/rest/overview/media-types/) to get the raw contents.

  ## Parameters

  - connection (GitHubV3RESTAPI.Connection): Connection to server
  - name (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, GitHubV3RESTAPI.Model.GitignoreTemplate.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec gitignore_get_template(Tesla.Env.client(), String.t(), keyword()) ::
          {:ok, nil}
          | {:ok, GitHubV3RESTAPI.Model.GitignoreTemplate.t()}
          | {:error, Tesla.Env.t()}
  def gitignore_get_template(connection, name, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/gitignore/templates/#{name}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      {200, %GitHubV3RESTAPI.Model.GitignoreTemplate{}},
      {304, false}
    ])
  end
end
