badges
  .badge-list
    padding 0.5em 1em
    margin-bottom 0
    dd
      margin-bottom 1em
      &:last-child
        margin-bottom 0

  .formats
    margin 0 auto
    width 50%
    & > li
      & > a
        padding 5px 10px
