<%= if abs(@diff) >= 0.001 do %>
  <span class="coverage-diff coverage <%= if @diff > 0, do: "good", else: "none" %>">
    <i class="fa fa-arrow-circle-o-<%= if @diff > 0, do: "up", else: "down" %> fa-small"></i>&nbsp;<%= format_coverage(abs(@diff)) %>
  </span>
<% end %>
