<h2>Show file</h2>

<ul>

  <li>
    <strong>Job:</strong>
    <%= @file.job_id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @file.name %>
  </li>

  <li>
    <strong>Coverage:</strong>
    <%= @file.coverage %>
  </li>

</ul>

<script>
  window.file = <%= raw @file_json %>;
</script>

<file-coverage></file-coverage>

<%= link "Back", to: job_path(@conn, :show, @file.job_id) %>
