<div class="new-project">
  <h2 class="breadcrumb row">
    <span class="media-body">
      <%= link "Projects", to: project_path(@conn, :index) %>
      <span class="separator">></span>
      <span>
        new
      </span>
    </span>
  </h2>

  <div class="integrations">
    <a href="#">Add from GitHub</a>
  </div>

  <%= render "form.html", changeset: @changeset,
                          action: project_path(@conn, :create) %>
</div>
